@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');



*{
    margin: 0;
}

a {
    text-decoration: none;
    margin: 10px;
}

.navigation-title{
    display: flex;
    align-items: center;
    background-color: #b57332;
    height: 70px;
}

.navigation{
    position: absolute;
    color: white;
    background-color: #b57332;
    list-style-type: none;
    display: flex;
}

h1{
    margin: 10px auto;
    color: white;
    background-color: #b57332;
    font-family: 'Dancing Script', cursive;
}

.navigation li{
    border: 1;
    color: white;
    background-color: #b57332;
}
