#select-list {
    max-height: 70px; /* hauteur maximale de la liste des options */
    overflow-y: scroll; /* activer la barre de défilement verticale */
    list-style: none;
  }

#select-input{
    border-radius: 10px;
    padding: 8px;
    opacity: 0.8;
}

.search-team{
  background-color: black;
}
